.player-hand {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: row; /* Makes the cards align horizontally */
}

.player-hand .card {
    width: 10%;
    height: auto;
    transition: transform 0.2s;
}

.player-hand .card:hover {
    transform: translateY(-5px);
}