.player-hand {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.player-name {
    width: auto;
}

.player-hand .card {
    max-width: 100px;
    width: 10%;
    height: auto;
    transition: transform 0.2s;
}

.player-hand .card:hover {
    transform: translateY(-5px);
}