.other-player-hand {
    position: relative; 
    display: flex;
    width: 8vw; 
    height: auto;
    margin: 0 auto; 
}

.other-player-hand img {
    width: 100%; 
    height: auto;
    border-radius: 4px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.other-player-hand::before {
    content: attr(data-cards);
    position: absolute; 
    top: 5px;
    right: 5px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    font-size: 2rem;
    font-weight: bold; 
    padding: 2px 5px; 
    border-radius: 3px; 
    z-index: 1;
}